<style>
  body {
    margin: 0;
    padding: 0;
    background-color: black;
  }
</style>


<body>
<canvas id="c0"></canvas>
<script src="AnCore.js"></script>
<script src="player.js"></script>
<script src="enemy.js"></script>
<script src="rooms.js"></script>

</body>